html, body{
	margin: 0;
	max-width: 100%;
}

.container{
	max-width: 100%;
}

/*NAVIGATION ATAS*/

.container-nav-atas{
	width: 100%;
	height: 56px;
	background-color: #335b75;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0px;
}

.container-nav-atas i{
	color: #fff;
	font-size:25px;
	flex: 1;
}

.container-nav-atas div{
	text-align: center;
	font-size: 25px;
	color: #fff;
	flex: 2;
}

.container-nav-atas div img{
	width: 40%;
	height: 40%;
}





/*Container TryOut*/

.container-tryout{
	width: 100%;
	max-height: 192px;
	background-color: #335b75;
	display: flex;
	justify-content: space-around;
}

.container-tryout p{
	font-family: 'roboto', sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	max-width: 300px;
}

.container-tryout button{
	width: 93px;
	height: 30px;
	font-family: 'roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: conic-gradient(from 179.87deg at 50.34% 150%, rgba(87, 85, 85, 0.289472) -30.47deg, rgba(17, 17, 17, 0) 18.77deg, rgba(209, 205, 205, 0.8) 199.87deg, rgba(87, 85, 85, 0.289472) 329.53deg, rgba(17, 17, 17, 0) 378.77deg);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.container-tryout img{
	max-width: 147px;
	height: 198px;
	margin-top: 30px
}





/*Judul Isi*/

h2{
	text-align: center;
	font-family: 'roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #626780;
	margin-top: 80px;
}





/*Container Isi*/

.container-isi{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.container-isi .box-isi{
	width: 18%;
	padding: 5% 0px;
	margin: 20px 5%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
  	border: solid 2px rgba(229, 221, 221, 0.81);
  	text-align: center;
	font-family: 'roboto', sans-serif;
	color: #626780;
}

.container-isi .box-isi img{
	width: 22px;
	height: 25px;
}

.container-isi .box-isi img, h4{
	margin: 8px 0px;
}





/*NAVIGATION BAWAH*/

.container-nav-bawah{
	position: fixed;
	bottom: 0;
	width: 100%;
}

nav{
	max-width: 100%;
	height: 70px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
	border-radius: 15px 15px 0px 0px;
	-webkit-box-shadow: 0px -5px 8px 1px #B2B2B2; 
	box-shadow: 0px -5px 8px 1px #B2B2B2;
}

nav ul{
	width: 100%;
	padding-left : 0px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	text-align: center;
}

nav ul li a{
	text-decoration: none;
	color: #636363;
	font-family: 'Changa', sans-serif;
	font-size: 16px; 
}

.fas, .fa{
	text-align: center;
	font-size: 20px; 
}









/*---------- Media Phone ----------*/




@media (max-width: 500px){

	body{
		margin: 0;
		width: 100%;
	}

	.container-nav-atas div img{
		width: 70%;
		height: 70%;
	}

	.container-tryout{
		max-height: 152px;
	}	

	.container-tryout p{
		margin: 0px 5%;
		font-size: 14px;
	}

	.container-tryout button{
		width: 30%;
		height: 15%;
		margin: 5% 5%;
		font-size: 11px;
	}

	.container-tryout .gambar{
		margin-right: 5%;
	}

	.container-tryout .gambar img{
		max-width: 120px;
		max-height: 160px;
		margin-top: 13%;
	}

	h2{
		margin-top: 8%;
	}

	.container-isi .box-isi{
		width: 22%;
		margin: 0 2% 5% 2%;
		padding: 2% 0;
		m
	}

	.container-isi .box-isi img{
		width: 17px;
		height: 20px;
	}

	.container-isi .box-isi img, h4{
		margin: 8px 0px;
		font-size: 12px;
	}

	nav{
		height: 60px;
	}

	nav ul li a{
		font-size: 12px; 
	}

	.fas, .fa{
		font-size: 16px; 
	}

}