$font-stack: 'Roboto', sans-serif;
$pc1: #333;
$pc2: rgb(255, 255, 255);
$color-1: #42e4e4;
$color-2: rgb(136, 210, 233);
$color-3: rgb(234, 248, 255);
$color-4: #175683;
$color-5: #1E70AA;
$dekstop-lg: 1367px;
$dekstop: 1366px;
$tablet-potrait: 768px;
$tablet-landscape: 768px;
$mobile-potrait: 640px;
$mobile-landscape: 640px;
* {
  box-sizing: border-box;
}

.r {
  float:right;
}

.c {
  align-content: center;
}

.l {
  float:left;
}

.wrapper-lp{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: #335B75;
}

.wrapper-lp2{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: #ffffff;
}

.wrapper-ps{
  margin: 0 auto;
  width: 100%;
  height: 429px;
  background: #D79090;
}
.wrapper-sd{
  margin: 30 auto;
  width: 80%;
  height: auto;
  background: #81E4DE;
}
.wrapper-smp{
  margin: 30 auto;
  width: 80%;
  height: auto;
  background: #DA7A7A;
}
.wrapper-sma{
  margin: 30 auto;
  width: 80%;
  height: auto;
  background: #DDC261;
}
.wrapper-lu{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: #ffffff;
}
.wrapper-lu2{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: #81E4DE;
}

.wrapper-mu{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: rgba(51, 91, 117, 0.94);
}
.wrapper-mu2{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: #B2D3DA;
}

.wrapper-hu{
  margin: 0 auto;
  width: 100%;
  height: 366px;
  background: rgba(60, 57, 57, 0.76);
}

.wrapper-hu2{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: linear-gradient(0deg, rgba(239, 239, 239, 0.5), rgba(239, 239, 239, 0.5));
}

.wrapper-hp{
  margin: 0 auto;
  width: 100%;
  height: 266px;
  background: #CEE8D5;
}

.wrapper-hp2{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 15px;
}

.tbl-container {
	width: 100%;
}

.bg-hu{
position: relative;
filter: grayscale(30%);
background: rgba(60, 57, 57, 0.76);
margin-top: 0;
text-align: center;
width: 100%;
height: 100px;
}

.bg-hp{
  position: relative;
  filter: grayscale(30%);
  background: rgba(60, 57, 57, 0.76);
  margin-top: 0;
  text-align: center;
  width: 100%;
  height: 80px;
  }

.box-true{
width: 1136px;
height: auto;
background: #3AC759;
border-radius: 15px;
}

.box-false{
  width: 1136px;
  height: auto;
  background: #B94B4B;
  border-radius: 15px;
}

.soal{
width: 100%;
height: 211px;
background: #FFFFFF;
border: 3px solid rgba(59, 136, 181, 0.57);
box-sizing: border-box;
border-radius: 5px;
margin-bottom: 20px;
overflow-y: scroll;
}

.jawaban{
  width: 100%;
  height: 126px;
  background: #FFFFFF;
  border: 3px solid rgba(59, 136, 181, 0.57);
  box-sizing: border-box;
  border-radius: 5px;
  overflow-y: scroll;
}

.frame-pembahasan{
  width: 100%;
  height: auto;
  border: 5px solid rgba(146, 149, 147, 0.25);
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(146, 149, 147, 0.25);
  border-radius: 0px 15px 15px 15px;
  }
  

.td-jawaban{
  width: 100%;
  height: 10px;
  background: #FFFFFF;
  border: 1px solid #828282;
  text-align: center;
}

.wrp{
  margin-top: 10px;
  width: 100%;
}

.wrp td{
  padding-top: 10px;
  padding-left: 3px;
  height: auto;
  text-align: center;
}

.wrp a{
 text-decoration: none;
 color: #FFFFFF;
}

.td-wrp{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.text-n{
  padding-top: -3px;
}

.text-b{
  padding-top: 13px;
}

.btn-tandai{
  width: 77px;
  height: 43px;
  background: #F1C526;
  border-radius: 10px;
}

.btn-nomor{
  width: 33px;
  height: 23px;
  background: #81c7e7;
  border-radius: 10px;
}

.btn-hapus{
  width: 120px;
  height: 43px;
  background: #B02118;
  border-radius: 10px;
}

.btn-np{
  width: 120px;
  height: 43px;
  background: #3A9CDC;
  border-radius: 10px;
}

.btn-hasil{
  width: 70%;
  height: 43px;  
  background: #335B75;
  border-radius: 10px;
}

.btn-hasil a{
  padding-top: 30px;
  width: 70%;
  height: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.btn-pa{
  padding-top: 15px;
}

.flex-control-nav {
  display: none;
}

#clockdiv{
  width: 43px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.numb{
  margin-top: 10px;
  width: 100%;
}

.numb td{
  padding-top: 10px;
  padding-left: 3px;
  height: auto;
  text-align: center;
}

.td-numb{
  font-family: Poppins;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
}

.td-numbp{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.slide_controll a{
  text-decoration: none;
  color: #FFFFFF;
}

.text-n{
  padding-top: 7px;
}

.text-no{
  padding-top: 13px;
  padding-left: 7px;
}

.numb-b {
width: 30px;
height: 30px;
background: #000000;
border-radius: 5px;
}

.numb-g {
  width: 30px;
  height: 30px;
  background: #68A359;
  border-radius: 5px;
}

.numb-y {
  width: 30px;
  height: 30px;
  background: #F1C526;
  border-radius: 5px;
}

.numb-t {
  width: 80px;
  height: 48px;
  border-radius: 5px;
  background: rgba(58, 199, 89, 0.6);
  border: 1px solid rgba(58, 199, 89, 0.6);
  box-sizing: border-box;
  border-radius: 8px;
}

.numb-f {
  width: 80px;
  height: 48px;
  border-radius: 5px;
  background: rgba(174, 4, 4, 0.6);
  border: 1px solid rgba(174, 4, 4, 0.6);
  box-sizing: border-box;
  border-radius: 8px;
}




.button-kirim{
margin-top: 30px;
width: 100%;
height: 43px;
background: #335B75;
border-radius: 10px;
}

.text-b-kirim{
padding-top: 13px;
font-family: Poppins;
font-style: normal;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
}

.text-lp{
width: 598px;
height: 211px;
font-size: 18px;
color: #ffffff;
}

.text-lp h1{
margin-top: 50px;
font-family: Roboto;
font-style: normal;
}
.text-lp p{
  width: 598px;
  font-family: Roboto;
  font-style: normal;
  margin-bottom: 100px;
}

.text-ps{
  width: 558px;
  height: 211px;
  margin-left: 110px;
  font-size: 18px;
  color: #ffffff;
}

.text-ps h1{
  margin-top: 50px;
  width: 348px;
  font-family: Roboto;
  font-style: normal;
  }

.text-ps p{
    width: 548px;
    font-family: Roboto;
    font-style: normal;
    margin-bottom: 100px;
  }

.ps-soal{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.05em;
color: #000000;
}

.ps-jawaban{
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.pd-jawaban{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
}

.ps-pembahasan{
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.ps-pembahasan h4{
  font-weight: bold;
}

.text-hu{
  margin-top: -65px;
  text-align: center;
  width: 50%;
  height: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  }
 

.text-hu2{
  height: 44px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
  }

.text-ha{
  margin-top: -35px;
  text-align: center;
  width: 50%;
  height: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  }

.text-hp{
  width: 388px;
  height: 44px;
  font-size: 18px;
  color: #ffffff;
}

.text-hp p{
  padding-top: 150px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #062758;
  }

.button-lp{
  width: 175px;
  height: 47.92px;
  top: 300px;
  background: #C6C873;
  box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
  border-radius: 30px;
}

.button-text{
  position: absolute;
  width: 88.57px;
  height: 26.88px;
  margin: 15px 60px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  
  color: #FFFFFF;
}

.button-ps{
  width: 70%;
  height: 47.92px;
  top: 200px;
  padding-bottom: 20px;
  background: #F01F35;
  box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
  border-radius: 10px;
  }
  
.button-text-ps{
  position: absolute;
  margin: 15px 63px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #FFFFFF;
}

.ps-tag-true{
  width: 120px;
  height: 56px;
  background: rgba(58, 199, 89, 0.6);
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
}

.ps-tag-true p{
  padding-top: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.ps-tag-false{
  width: 120px;
  height: 56px;
  background: rgba(174, 4, 4, 0.6);
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
}

.ps-tag-false p{
  padding-top: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.icon-ft{
  width: 23px;
  height: 23px;
}

.ps-icon{
  width: 44px;
  height: 43px;
  margin-right: 30px;
}

.logo-mejakita{
  width: 223px;
  height: 64px;
}

.img-lp{
width: 347px;
height: 353px;
}

.img-ps{
  position: relative;
  margin-top: -45px;
  margin-left: 83px;
  width: 466px;
  height: 469px;
}

.img-ps2{
  width: 332px;
  height: 214px;
  align-content: center;
  }

.img-lu{
  width: 332px;
  height: 214px;
  align-content: center;
  }

.img-hp{
  position: relative;
  margin-top: -27px;
  margin-left: -30px;
  width: 832px;
  height: 427px;
}

.table-lu{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.table-lu th{
  width: 240px;
  height: 68px;
  background: #E5E5E5;
  border: 1px solid #828282;
  border-radius: 0px;
  text-align: center;
}

.td-detail{
  width: 240px;
  height: 68px;
  background: #FFFFFF;
  border: 1px solid #828282;
  text-align: center;
}

.td-start{
  width: 240px;
  height: 68px;
  background: #708F81;
  border: 1px solid #828282;
  border-radius: 0px;
  text-align: center;
}
.td-start a{
  text-decoration: none;
  color: #FFFFFF;
}

.table-mu{
  font-size: 14px;
}

.table-mu th{
  width: 199px;
  height: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.table-mu td{
  height: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-left: 10px;
}

.table-hu{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: left;
  text-align: left;
  color: #000000;
}
.table-hu th{
  width: 600px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #828282;
  text-align: left;
  padding-left: 10px;
}

.td-data{
  width: 600px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #828282;
  text-align: left;
  padding-left: 10px;
}

.mu-clock{
padding-top: 3px;
width: 115px;
height: 34px;
background: #FFFFFF;
border-radius: 10px;
}

.mu-clock span{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.nomor1{
  width: 100px;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.box1{
  position: absolute;
  margin-top: -10px;
  margin-left: -30px;

}
.alur-text{
  margin-top: 59px;
  margin-bottom: 61px;
  align-content: center;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #335B75;
}

.lu-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #514C4C;
}

.space-mu{
  margin-top: -20px;
}
.frame-mapel-ps{
  width: 100%;
  height: 305px;
  border: 2px solid rgba(230, 221, 221, 0.81);
  box-sizing: border-box;
  border-radius: 10px;
}

.frame-mapel-text-ps{
  width: 85%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #626780;
}

.frame-mapel-text-ps h5{
  height: 20px;
}

.frame-mapel-text-ps p{
  height: 60px;
}

.frame-mapel{
  width: 100%;
  height: auto;
  border: 2px solid rgba(230, 221, 221, 0.81);
  box-sizing: border-box;
  border-radius: 10px;
}

.frame-mapel-text{
  margin-left: 30px;
  margin-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #626780;
}

.frame-mapel-text h5{
  font-weight: bold;
}

.nomor-fr{
  margin-bottom: 31px;
  margin-top: 41px;
  align-content: center;
}

.icon-fr{
  margin-bottom: 31px;
  align-content: center;
}

.icon-ps{
  margin-top: 31px;
  margin-bottom: 35px;
  width: 85%;
  height: 30%;
  align-content: center;
}

.frame-ps{
  width: 100%;
  height: 420.92px;
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.footer-text{
  margin-top: 20px;
  width: 369px;
  height: 88px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(89, 87, 87, 0.91);
}

.footer-ltext{
  font-size: 14px;
  color: #595757;
  text-decoration: none;
}

.footer-ltext a{
  font-size: 14px;
  color: #595757;
  text-decoration: none;
}

.footer-i{
  position: absolute;
  margin: 10px;
}

.footer-i ul{
  list-style:none;
}

.footer-i li{
  display: inline;
}
.footer-i a{
  text-decoration:none; 
  color: #000; 
  font-weight:bold; 
}

.container {
  padding: 30px 10px;
  margin-right:auto;
  margin-left:auto;
}
.container-wu {
  padding: 10px auto;
  margin-right:auto;
  margin-left:auto;
}

.row {
  padding: 10px 10px;
  margin-right:-15px;
  margin-left:-15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.image{
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1367px) {

  body{
    font-size: 27px;
  }

  .navbar {
    padding-top: 30px;
  }
  .container {
    padding: 55px 15px;
  }

  .logo{
    width: 51px;
    height: 51px;
    border: solid 1px $color-2;
    border-radius: 50px;
  }

  button{
    border-radius: 7.5px;
    padding: 13px 28px;
    border: 0;
    color: $pc2;
    background-color: $color-2;
    font: 100% $font-stack;
  }

  .btn-tag {
    border-radius: 3.5px;
    padding: 5px 10px;
    border: 0;
    color: $pc2;
    background-color: $color-3;
    text-decoration:none;
    font: 70% $font-stack;
    color: $color-2;
  }

  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

@media screen and (max-width: 1366px) {

}
@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

.text-lp{
  width: 100%;
  height: 211px;
  font-size: 18px;
  color: #ffffff;
}

.text-lp h1{
  margin-top: 50px;
  font-family: Roboto;
  font-style: normal;
}
.text-lp p{
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  margin-bottom: 100px;
}

.img-lp{
  top: 70px;
  width: 247px;
  height: 253px;
}

.button-text-ps{
  position: absolute;
  margin: 15px 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #FFFFFF;
}

.frame-mapel-text-ps{
  width: 85%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #626780;
}

.frame-mapel-text-ps h5{
  height: 10px;
}

.frame-mapel-text-ps p{
  height: 75px;
}

.numb-t {
  width: 50px;
  height: 28px;
  border-radius: 5px;
  background: rgba(58, 199, 89, 0.6);
  border: 1px solid rgba(58, 199, 89, 0.6);
  box-sizing: border-box;
  border-radius: 8px;
}

.numb-f {
  width: 50px;
  height: 28px;
  border-radius: 5px;
  background: rgba(174, 4, 4, 0.6);
  border: 1px solid rgba(174, 4, 4, 0.6);
  box-sizing: border-box;
  border-radius: 8px;
}

.td-numb{
  font-family: Poppins;
  font-style: normal;
  font-size: 11px;
  text-align: center;
  color: #FFFFFF;
}

.td-numbp{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 17px;
text-align: center;
letter-spacing: 0.1em;
color: #FFFFFF;
}

.numb-b {
width: 20px;
height: 20px;
background: #000000;
border-radius: 5px;
}

.numb-g {
  width: 20px;
  height: 20px;
  background: #68A359;
  border-radius: 5px;
}

.numb-y {
  width: 20px;
  height: 20px;
  background: #F1C526;
  border-radius: 5px;
}

.tbl-container {
  width: 100%;
}

.text-n{
  padding-top: 2px;
}

.text-no{
  padding-top: 5px;
  padding-left: 4px;
}

.img-ps{
  display: none;
}

.wrapper-lp{
  margin: 0 auto;
  width: 100%;
  height: 520px;
  background: #335B75;
}

}
@media screen and (max-width: 1024px) and (orientation: landscape) {

  body {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
  }
  .navbar {
    padding-top: 15px;
  }
  .container {
    padding: 15px 5px;
  }

  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
@media screen and (max-width: 414px) {

    [class*="col-"]{
      width: 100%;
  }
  body {
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar {
    padding-top: 0px;
  }
  .container {
    padding: 3px 7px;
  }
}
@media screen and (max-width: 823px) and (orientation: landscape){

  body {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 17px;
  }
  .navbar {
    padding-top: 0px;
  }
  .container {
    padding: 3px 7px;
  }
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}