body{
	background-color: #f8f9fa;
	max-width: 1330px;
}

.row{
	max-width: 1330px;
}

.con{
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

.con2{
    width: 1100px;
    margin: 50px auto;
    margin-bottom: 50px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.con3{
    width: 800px; 
    margin: 50px auto;
    background-color: aqua;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.con4{
    background: url(http://zaib.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/02/Tutoring-Service_Footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1349px;
    height: 330px;
    margin: 50px auto;
    padding: 0px;
    margin-bottom: 0px!important;   
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.con5{
	width: 240px;
	height: 23px;
	background-color: #cfcfcf;
	padding: 0px;
	margin: 10px 50px;
	border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

.item{
    width: 320px;
    margin: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
}

.item2{
    width: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
}

.item3{
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
            text-align: center;
}

.item4{
    width: 150px;
    display: flex;
    margin: 0px 100px; 
    margin-bottom: 140px!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item5{
	height: 23px;
	padding: 0px;
	margin: 0px;
	border-radius: 15px;
}

.dwn{
    background:url(http://zaib.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/02/bac-01.png)!important;
    margin-bottom: 100px
}

col{
    padding: 0px;
}

h4{
    font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    color: #ffc107!important;
    padding-top: 30px;
    letter-spacing: 1px;
    margin-left: 280px;
}

h1{
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1em;
    padding-top: 40px;
    margin-left: 100px;
}

h2{
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.3em;
    padding-top: 40px;
}
.btn2{
    border-radius: 50px !important;
    margin: 0!important;
}

.btn-lg {
    border-radius: 50px !important;
    margin-left: 130px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 20px 24px;
    font-size: 10px;
}

.lingkaran{
    width: 80px !important;
    height: 80px !important;
    margin: 0px;
    margin-bottom: 30px !important;
    border-radius: 100% !important;
}

ion-icon {
    font-size: 30px;
    color: black;
}

h3{
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
}

.p2{
	font-size: 13px;
}

.vid{
	width: 100%; 
	height: 300px;
	background-color: green;
	border-radius: 30px;
}

.stat{
	width: 340px; 
	height: 340px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 3px 12px -2px #333333;
	box-shadow: 0px 3px 12px -2px #333333;
}
.nm{
	margin-left: 50px;
	margin-top: 45px;
}

.stat1{
	width: 200px;
	background-color: #007bff;
}
.stat2{
	width: 100px;
	background-color: #864df9;
}
.stat3{
	width: 160px;
	background-color: #FBBB4E;
}