html, body{
	margin: 0;
	max-width: 100%;
	font-family: 'Roboto', sans-serif;
}

.container{
	max-width: 100%;
}



/*Header*/
.container-header{
	width: 100%;
	background-color: #335b75;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container-header i{
	padding-left: 10%;
	font-size: 20px;
	color: #fff;
	text-align: left;
}

.container-header h3{
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.container-header-img{
	width: 100%;
	height: 250px;
	background-color: #335b75;
	display: flex;
	justify-content: center;
}

.container-header-img img{
	width: 80%;
	height: 300px;
	margin: 20px auto auto auto;
}
.garis{
	width: 80%;
	height: 5px;
	margin: 110px auto 20px auto;
	background-color: rgba(0, 0, 0, 0.1);;
}



/*Pilihan Paket*/

.container-paket{
	width: 80%;
	margin: auto auto 100px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.paket{
	width: 35%;
	margin: 20px 0px;
	border-radius: 10px;
	border: solid 3px rgba(216, 211, 211, 0.5);
	-webkit-box-shadow: 5px 7px 14px -1px rgba(51,51,51,0.85); 
	box-shadow: 5px 7px 14px -1px rgba(51,51,51,0.85);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.paket img{
	width: 48%;
	height: 30%;
}

.paket h4, button{
	margin: 10px 0px;
	font-family: 'Roboto-bold', sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.paket .keterangan{
	color: rgba(0, 0, 0, 0.6);
}

.paket button{
	border: 0;
	background-color: #42caeb;
	text-align: center;
	width: 48%;
	padding: 3%;
	border-radius: 20px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}



/*NAVIGATION BAWAH*/

.container-nav-bawah{
	position: fixed;
	bottom: 0;
	width: 100%;
}

nav{
	max-width: 100%;
	height: 70px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
	border-radius: 15px 15px 0px 0px;
	-webkit-box-shadow: 0px -5px 8px 1px #B2B2B2; 
	box-shadow: 0px -5px 8px 1px #B2B2B2;
}

nav ul{
	width: 100%;
	padding-left : 0px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	text-align: center;
}

nav ul li a{
	text-decoration: none;
	color: #636363;
	font-family: 'Changa', sans-serif;
	font-size: 16px; 
}

.fas, .fa{
	text-align: center;
	font-size: 20px; 
}



@media (max-width: 500px){
	.container-header h3, i{
		font-size: 14px;
	}	

	.container-header-img{
		height: 150px;
	}

	.container-header-img img{
		height: 170px;
	}

	.garis{
		margin: 60px auto 10px auto;
	}

	.paket{
		width: 40%;
		margin: 10px 0px;
	}

	.paket h4, button{
		margin: 5px 0px;
		font-size: 14px;
	}

	.paket button{
		width: 60%;
		padding: 4%;
		font-size: 12px;
	}

	nav{
		height: 60px;
	}

	nav ul li a{
		font-size: 12px; 
	}

	.fas, .fa{
		font-size: 16px; 
	}

}


/*@media (max-width: 350px){

	.container-header-img{
		height: 120px;
	}

	.container-header-img img{
		height: 135px;
	}

	.garis{
		margin: 50px auto 10px auto;
	}

}*/