html, body{
	padding: 0px;
	margin: 0px;
	background-color: #f8f9fa;								
}

.container-utama{
    width: 100%;
    display: flex;
    flex-direction: column;
}



/*Container 1*/


.container-1{
    padding-top: 50px;
    width: 93%;
    padding-left: 4%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.head-1{
    max-width: 50%;
    padding-right: 5%;
	padding-top: 30px;
}

img{
	max-width: 100%;
	height: auto;
}

.rw-btn{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.container-1 .btn-lg {
    border-radius: 50px !important;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 3% 4%;
    margin-right: 10%;
    font-size: 10px;
    width: 70%;
}



/*Container 2*/



.container-2{
    width: 93%;
    padding-left: 4%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.reason{
    max-width: 30%;
    margin-right: 20px;
    padding-right: 40px; 
    margin-top: 30px;
}



/*Container 3*/



.container-3{
    width: 93%;
    padding-left: 4%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
}

.mid{
    display: flex;
    justify-content: flex-start;
}

.mid-1{
    max-width: 53%;
}
.mid-2{
    padding-left: 60px;
}

.item-stat{
    width: 240px;
    height: 23px;
    background-color: #cfcfcf;
    padding: 0px;
    margin: 10px 50px;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

.item{
    height: 23px;
    padding: 0px;
    margin: 0px;
    border-radius: 15px;
}

.stat{
    width: 340px; 
    height: 340px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 12px -2px #333333;
    box-shadow: 0px 3px 12px -2px #333333;
}

.stat1{
    width: 200px;
    background-color: #007bff;
}
.stat2{
    width: 100px;
    background-color: #864df9;
}
.stat3{
    width: 160px;
    background-color: #FBBB4E;
}




/*Container 4*/



.container-4{
    width: 100%;
    margin: auto;
    margin-top: 250px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.con-learn{
    background:url(http://zaib.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/02/bac-01.png)!important;
    background-size: 100%;
    background-position: center;  
    width: 60%;
    padding-top: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-4 p{
    text-align: center;
    margin: 5% 12% 3% 12%;
}

.container-4 .btn-lg {
    border-radius: 50px !important;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 10% 8%;
    font-size: 12px;
    text-align: center;
}





/*Container 5*/

.container-5{ 
    background:url(http://zaib.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/02/Tutoring-Service_Footer.png);;    
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer-dwn{
    width: 40%;
    margin: auto auto 23% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footer-dwn h6{
    font-size: 20px;
}





/*Tambahan*/

h1{
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1em;
    padding-top: 40px;
}

h2{
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.3em;
    padding-top: 40px;
    text-align: center;
    margin: 0px;
}

h3{
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
}

h4{
    font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    color: #ffc107!important;
    padding-top: 30px;
    letter-spacing: 1px;
    margin-left: 280px;
}

ion-icon {
    font-size: 30px;
    color: black;
}

.btn2{
    border-radius: 50px !important;
    margin: 0!important;
}

.lingkaran{
    width: 70px !important;
    height: 70px !important;
    margin: 30px 0px;
    padding: 0px;
    border-radius: 100% !important;
    display: grid;
    justify-content: center;
    align-content: center;
}

.p2{
    text-align: left!important;
    font-size: 13px;
    margin: 10px 0px;
}
.vid{
    width: 100%; 
    height: 90%;
    background-color: green;
    border-radius: 30px;
}
.nm{
    margin-left: 50px;
    padding-top: 45px;
}









@media (max-width: 768px){

    /*Container 1*/

	.container-1{
		display: flex;
		flex-direction: column; 
	}
	.head-1{
		max-width: 100%;
        padding-top: 0px;
	}
	.head-gambar{
		display: grid;
		justify-content: center;
		align-content: center;
	}
	img{
		max-height: 400px;
		margin: 20px auto;
	}



    /*Container 2*/

    .container-2{
        flex-direction: column;
    }
    .reason{
        max-width: 100%!important; 
    }
    h2{
        font-size: 30px;
    }



    /*Container 3*/

    .container-3{
        display: grid;
        flex-direction: column;
    }
    .mid{
        flex-direction: column;
    }
    .mid-1{
        max-width: 90%;
    }
    .vid{
        height: 350px!important;
    }
    .mid-2{
        max-width: 90%;
        padding: 40px 0px;
    }
    .item-stat{
        max-width: 100%;
    }
    .stat{

        width: 100%!important;
    }
    .con-learn{
        width: 85%;
    }    
    .container-4{
        margin-top: 25px;
    }
    .container-4 p{
        font-size: 15px;
        margin: 1% 8% 2% 8%;
    }
    .container-5{
        margin-top: 75px;
    }
    .footer-dwn h6{
        font-size: 15px;
    }

    .container-1 .btn-lg {
        width: 70%;
    }

}

@media (max-width: 500px){
    .container-utama{
        width: 100%;
    }

    .container-1{
        width: 97%;
        padding-top: 0px;
        margin-right: auto;
    }
    .container-2{
        width: 97%;
        margin-right: auto;
    }
    .container-3{
        width: 97%;
        margin-right: auto;
    }
    .container-4{
        margin-top: 25px;
    }
    .container-5{
        margin-top: 75px;
    }

	.head-gambar{
        display: none;
    }
    .head-1 p{
        font-size: 10px;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 15px;
    }

    h4{
        font-size: 9px;
        margin-left: 180px;
    }

    .btn-lg{
        font-size: 8px;
    }

    ion-icon {
        font-size: 20px;
        color: black;
    }
    .footer-dwn{
        width: 60%;
        margin: auto auto 18% auto;
    }

    .footer-dwn h6{
        font-size: 10px;
    }

}